/* css reset  */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

:root{
   --navbar-height:59px;
}

/* Navbar */
#navbar{
    display: flex;
    align-items: center;
}

.logo{
    margin: 12px 24px;
    /* padding: 10px 12px; */
}

.logo img{
    height: 57px;
    margin: 3px 6px;


}
#navbar{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
  
}

#navbar ul{
    display: flex;
}
    
    
#navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.1rem;

}
#navbar ul li a{
    display: block;
    padding: 5px 5px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Bree Serif', serif;

}
#navbar ul li a:hover{
   color: black;
   background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 425px;
    /* height: 550px; */
    justify-content: center;
    align-items: center;
    font-family: 'Bree Serif', serif;
}
#home::before{

    content: "";
    background:url('../bg2.png.jpg') no-repeat repeat center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;

}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* services section */
#services{
    display: flex;
    margin: 34px;
    background-color: aqua;
    border-radius: 20px;
}
#services .box{
    border: 2px solid brown;
    margin: 13px 14px;
    padding: 12px 12px;
    border-radius: 25px;
    background-color: rgb(206, 226, 226);

}
#services img{
    height: 160px;
    margin: auto;
    /* this line is important */
    display: block; 

}
#services .box p{
    font-family: 'Bree Serif', serif;
}
/* clients section */
#clients-section{
    position: relative;
    /* height: 344px; */
    
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 124px;
}
.clients-services{
padding: 34px;

} 

#clients-section::before{

padding: 54px;
background: url('../bg2.png.jpg');
height: 30%;
width: 92%;
content: "";
position: absolute;
z-index: -1;
opacity: 0.4;


}
/* contact section */
#contact{
    position: relative;
    /* margin: 55px; */

}
#contact::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('../contact2.jpg.jpg');
    

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 22px;
    font-size: 1.1rem;
    font-family: 'Bree Serif', serif;
    
}
#contact-box form{

    width: 40%;
}
#contact-box label{
    font-family: 'Bree Serif', serif;
   font-size: 1.3rem;

}


/* footer */
footer{
    background-color: black;
    color: white;
    font-family: 'Bree Serif', serif;
}
/* utility classes */
.h-primary{
    font-size: 3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    padding: 9px 20px;
}


.btn{
    border: 2px solid rgb(211, 198, 198);
    border-radius: 18px;
    padding: 6px 20px;
    margin: 17px;
    background-color: brown;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;

}
.center{
    text-align: center;
}